@font-face {
  font-family: 'ProximaNova';
  src: url('../../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  
       url('../../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), 
       url('../../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf')  format('truetype'), 
       url('../../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),  
       url('../../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'), 
       url('../../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf')  format('truetype'), 
       url('../../fonts/ProximaNova-Semibold/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../../fonts/FuturaPT-Medium/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),  
       url('../../fonts/FuturaPT-Medium/FuturaPT-Medium.woff') format('woff'), 
       url('../../fonts/FuturaPT-Medium/FuturaPT-Medium.ttf')  format('truetype'), 
       url('../../fonts/FuturaPT-Medium/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../../fonts/FuturaPT-Demi/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'), 
       url('../../fonts/FuturaPT-Demi/FuturaPT-Demi.woff') format('woff'), 
       url('../../fonts/FuturaPT-Demi/FuturaPT-Demi.ttf')  format('truetype'), 
       url('../../fonts/FuturaPT-Demi/FuturaPT-Demi.svg#FuturaPT-Demi') format('svg');
  font-weight: 600;
  font-style: normal;
}